
/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* @import url("https://fonts.googleapis.com""https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap" "stylesheet"); */

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #a3b18a;
  --secondary-color: #b0c4b1;
  --accent1-color: #dde5b6;
  --accent2-color: #adc178;

  /* change the values below to your chosen font(s) */
  --heading-font: "smooch+sans";
  --paragraph-font: Lato, open+sans, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #d0f3d3;  /* headlines on a white background */ 
  --headline-color-on-color: #a7c957; /* headlines on a colored background */ 
  --paragraph-color-on-white: #6a994e; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #386641; /* paragraph text on a colored background */ 
  --paragraph-background-color: #394c3f ;
  --nav-link-color: #9feeb1;
  --nav-background-color: #1b3b28;
  --nav-hover-link-color: #75b386;
  --nav-hover-background-color: #c2e4c9;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
  max-width: 900px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 360px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #d8f4c6;
}
.colors td{
  width: 30%;
  height: 3em;
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}
p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}
nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.3em;
}
nav  {
  list-style-type: none;
  display: flex;
}
nav a {
  padding:1em;
  min-width: 130px;
  text-decoration: none;
  padding: 10px;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {
  text-align: center;
}
.sm-home {
  grid-area: home;
  background-color: #aff1aa;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #47ae85;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #92d992;
  line-height: 3em;
}
.top {
  grid-area: top;
  border-left: 1px solid;
}
.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}
.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}