

#header{
  color: rgb(236, 31, 16);
  background-color: darkgreen;
  width: 100%;
}
#logo_link{
  grid-area:center ;
  background-color: antiquewhite;
}
#img {
  width: 100px;
}
nav a{
  background-color: darkgreen;
  font-size: larger;
  color: rgb(62, 156, 128);
}
.serum-img{
  padding: 20px;
  border: 0ch;
  background-color: darkgreen;
  margin: 0 auto;
  box-shadow: 2rem;
}
.h1{
  text-align: left;
  font-size: x-large;
}
h4{
  width: 100px;
  text-align: right;
}





