
*{
  text-decoration: none;
}
.homegrid{
  display: grid;
  grid-template-rows: repeat(5, fr);
  grid-template-columns: repeat(5, fr)
}
.navbar{
  background:  rgb(13, 128, 13);
  font-family:Arial, Helvetica, sans-serif;
  padding-right: 15px;
  padding-left: 15px;
}
.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
li{
  list-style: none;
  display: inline-block;  
}
li a{
  color:black;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}
button{
  background-color: red;
  margin-left: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 90px;
}
button a{
  color: white;
  font-weight:bold ;
  font-size: 15px;
}
.serum-img{
  float: right;
  width: 40%;

}
.serum-1{
  width: 70%;
  left: 15%;
  top: 20%;
  background-color: aquamarine;
  padding: 30px;
  align-items: end;

}
.skincare4-img{
  /* float: left;
  width: 20%; */
  max-width: 100%;
  height: auto;
}
.skincare-img{
  width: 50%;
  right: 15%;
  bottom: 20%;
  background-color: rgb(5, 100, 69);
  padding: 30px;
}
.skincare-img{
  float: right;
  width: 20,33%;
  padding: 5px;
}
.care-2::after{
  width: 50%;
  grid-template-rows: 1/2;
  display: table;
}

.logo{
  width: 15%;
  aspect-ratio: 3/2;
  object-fit: contain;
  margin-top: center;
  mix-blend-mode: color-burn;
  top: 50px;
  left: 100px;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.footer-container{
  background-color: rgb(13, 128, 13);
  padding: 4rem 0 4rem 0;
}
.footer{
  width: 80%;
  height: 40vh;
  background-color: rgb(124, 239, 124);
  color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.footer-heading{
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}
.footer-heading h2{
  margin-bottom: 2rem;
}
.footer-heading a {
  color:#337af1;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.footer-heading a:hover {
  color: crimson;
  transition: 0.3rem ease-out;
}
.footer-email-form h2{
  margin-bottom: 2rem;  
}
#footer-email{
  width: 250px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}
#footer-email::placeholder{
  color: #b1b1b1;
}
#footer-email-btn{
  width: 100px;
  height: 40px;
  border-radius: 4px;
 background-color: red;
 outline: none;
  border: none;
  color: white;
  font-size: 1rem;
}
#footer-email-btn:hover{
  cursor: pointer;
  background-color: #337af1;
  transition: all 0.4s ease-out;
}


/* page-2 */

.facecream-img{
  width: 100%;
  max-width: 400px;
  object-fit: cover;
  vertical-align: middle;
}
.face{
  padding: 0 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
}
.facecream2-img{
  float: right;
  width: 30%;
  box-shadow: inset;
}
.facecream-2{
  position: absolute;
  width: 30%;
  left: 15%;
  background-color: cyan;
  padding: 20px;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: white;
}
.card-container{
  display: flex;
  justify-content: right center left;
  flex-wrap: wrap;
  margin-top: 100px;
}
.card{
  width: 325px;
  background-color: cornsilk;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(red, green, blue, alpha);
  margin: 20px;
}
.card img{
  width: 100%;
  height: auto;
}
.card-container{
  padding: 16px;
}
.card-container h3 {
  font-size: 28px;
  margin-bottom: 8px;
}
.card-container p{
  color: #666;
  font-size: 15px;
  line-height: 1.3;
}
.card-container.btn{
  display: inline-block;
  padding: 8px 16px;
  background-color: darkcyan;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: aqua;
  

}












@media screen and (max-width:1150px){
  .footer{
      height: 50vh;   
  .footer-email-form{
      margin-top: 4rem;
  }   
}
@media screen and (max-width:820px){
  .footer{
      padding:2rem ;
  }   
  
    
}
@media screen and (max-width:720px){
  .footer-3{
  display: none;
  } 
  .footer-email-form{
      margin-top: 2rem;
  }  
}













 */
